<div class="text-center">
    <img src="../../..//assets/logo.png" class="img-fluid" alt="Responsive image">
</div>


<br>
<br>

<form class="form-inline justify-content-center" (submit)="onSubmit($event)">

    <label class="mr-sm-2">Mot à rechercher </label>
    <input type="text" id="mot" class="form-control mb-2 mr-sm-2" />
    <label class="mr-sm-2">Identifiant relation </label>
    <input type="text" id="id_relation" class="form-control mb-2 mr-sm-2" />

    <div class="form-check mb-2 mr-sm-2">
        <label class="form-check-label">
            <input id="no_relin" name="no_relin" type="checkbox" class="form-check-input" value=""
                (change)="noRelIn($event)">
            Pas de relations Entrantes
        </label>
    </div>
    <div class="form-check mb-2 mr-sm-2">
        <label class="form-check-label">
            <input id="no_relout" name="no_relout" type="checkbox" class="form-check-input" value=""
                (change)="noRelOut($event)">
            Pas de relations Sortantes
        </label>
    </div>

    <button type="submit" class="btn btn-primary mb-2"> <i class="fa fa-search "></i> Rechercher</button>
</form>

<div class="container">
    <app-result (messageEvent)="receiveMessage($event)" [message]="message" [no_relout]="no_relout"
        [relation]="relation" [no_relin]="no_relin" *ngIf="message">
    </app-result>
</div>