<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="text-center mt-5">
				<img src="../../..//assets/logo.png" class="img-fluid" alt="Responsive image">
			</div>
		</div>
		<div class="col-md-6">
			<form (submit)="onSubmit($event)" class="mt-4 mr-3">

				<label class="ml-2 mr-sm-2">Mot à rechercher
				</label>
				<input type="text" id="mot" class="form-control mb-2 mr-sm-2 ml-2 mr-2"/>
				<label class="ml-2 mr-sm-2">Identifiant relation
				</label>
				<input type="text" id="id_relation" class="form-control mb-2 mr-sm-2 ml-2 mr-2"/>

				<div class="row">
					<div class="col-md-6">
						<div class="form-check mb-2 mr-sm-2">
							<label class="form-check-label ml-2 mr-2">
								<input id="no_relin" name="no_relin" type="checkbox" class="form-check-input" value="" (change)="noRelIn($event)">
								Pas de relations Entrantes
							</label>
						</div>
						<div class="form-check mb-2 mr-sm-2">
							<label class="form-check-label ml-2 mr-2">
								<input id="no_relout" name="no_relout" type="checkbox" class="form-check-input" value="" (change)="noRelOut($event)">
								Pas de relations Sortantes
							</label>
						</div>
					</div>
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary mb-2 ml-2">
							<i class="fa fa-search "></i>
							Rechercher</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div class="container">
	<app-result (messageEvent)="receiveMessage($event)" [message]="message" [no_relout]="no_relout" [relation]="relation" [no_relin]="no_relin" *ngIf="message"></app-result>
</div>
